In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Zhou/Desktop/DoD修改2209/DoD_删后.csv',encoding='UTF-8')

In [3]:
df.head()

,Unnamed: 0,Award Number,关键词-中文,关键词-英文,Project Title,Award Abstract,Funding Agency Name（处理后）,Anticipated Award Amount,DoD Awarding Office（处理后）,Recipient Organization（处理后）,Recipient Organization（消歧后）,Last Name+First Name,PI Type,Potential Period of Performance Start,Potential Period of Performance End,时长
0,1,W9132T1820004,铅酸蓄电池；脉冲技术；铅酸蓄电池；建筑工程研究实验室；发展中心；工程研究工程师；陆军部队；研...,lead acid battery;Pulse technology;lead acid b...,Lead Acid Battery Life Extension through Viral...,The primary objective of this project is to de...,United States Navy,250000,USACE- ERDC,The Board of Trustees of The University of Ill...,The Board of Trustees of The University of Ill...,Humin Zhao,Principal Investigator,2018/8/21,2019/8/20,364
1,2,N629092112006,合作研究；Technion集团；重复使用；相对论磁控管；膨胀阴极等离子体；这种磁控管；压缩态...,collaborative study;forthe Technion group;repe...,New Ideas for Advanced Relativistic Magnetrons,The generation and transmission of pulses of m...,United States Navy,150000,"Office of Naval Research, London, England (N62...",Technion Research & Development Foundation Ltd.,Technion Research & Development Foundation Ltd.,Yakov Krasik,Principal Investigator,2021/1/1,2023/12/31,1094
2,3,N629092112018,过程中；激进模式；生物磁敏性；生理模型；磁激发序列；基本过程；前所未有的细节；丰富的复杂性；...,process whilst;radical models;biological magne...,Spin biology under optimal quantum control,"From quantum clocks, computers and sensors to ...",United States Navy,325936,"Office of Naval Research, London, England (N62...",University of Exeter,University of Exeter,Daniel Kattnig,Principal Investigator,2021/4/2,2024/12/18,1356
3,4,N629092112008,浅海地区；大陆架；这水有多深；深水能产生赤潮；不同的化合物；缺氧；m深度；厚层；近海深水区；...,shallowcoastal regions;continental shelf;howth...,SHELF SLOPE DYNAMICS IN THE SEA OF OMAN: HOW S...,"The Sultanate of Oman, as other countries in t...",United States Navy,300025,"Office of Naval Research, London, England (N62...",Sultan Qaboos University,Sultan Qaboos University,Gerd Bruss,Principal Investigator,2020/12/11,2023/12/10,1094
4,5,N629092112002,作战效能；潜在效应；改变颜色的感觉，结果；关键考虑因素；色彩视觉效果；效果相同；激光护眼；色...,operational effectiveness;potential effect;alt...,Examining colour usage in next generation disp...,There has been an increasing incidence of lase...,United States Navy,107210,"Office of Naval Research, London, England (N62...",Deakin University,Deakin University,Amanda Douglass,Principal Investigator,2020/11/5,2021/11/4,364

In [4]:
lst= df['Funding Agency Name（处理后）'].unique()

In [5]:
df1 = pd.DataFrame(lst, columns = ['Name'])

In [15]:
df1.set_index('Name')
df1['sum']=0
df1

                                                Name  sum
0                                 United States Navy    0
1                         United States Marine Corps    0
2                                 United States Army    0
3                            United States Air Force    0
4   Uniformed Services University of Health Sciences    0
5                               Other Federal Agency    0
6                        Other Department of Defense    0
7                 office of The Secretary of Defense    0
8                   office of The Chief of Engineers    0
9                           National Security Agency    0
10           National Geospatial-Intelligence Agency    0
11                   Defense Threat Reduction Agency    0
12         Defense Advanced Research Projects Agency    0

In [18]:
for i in range(len(lst)):
    print(lst[i])
    df2 = df[df['Funding Agency Name（处理后）']==lst[i]]
    print(len(df2))
    print(df2['Anticipated Award Amount'].sum())
    df1['sum'][i] = df2['Anticipated Award Amount'].sum()

United States Navy
6683
5602625647
United States Marine Corps
2
1091816
United States Army
7037
5694493582
United States Air Force
2299
1271591697
Uniformed Services University of Health Sciences
186
58633415
Other Federal Agency
42
78291287
Other Department of Defense
234
219906953
office of The Secretary of Defense
898
2090147055
office of The Chief of Engineers
5
86055
National Security Agency
70
145053860
National Geospatial-Intelligence Agency
22
18800222
Defense Threat Reduction Agency
332
424061988
Defense Advanced Research Projects Agency
240
234718958

C:\Users\Zhou\AppData\Local\Temp/ipykernel_13844/3237981282.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['sum'][i] = df2['Anticipated Award Amount'].sum()

In [19]:
df1

                                                Name         sum
0                                 United States Navy  5602625647
1                         United States Marine Corps     1091816
2                                 United States Army  5694493582
3                            United States Air Force  1271591697
4   Uniformed Services University of Health Sciences    58633415
5                               Other Federal Agency    78291287
6                        Other Department of Defense   219906953
7                 office of The Secretary of Defense  2090147055
8                   office of The Chief of Engineers       86055
9                           National Security Agency   145053860
10           National Geospatial-Intelligence Agency    18800222
11                   Defense Threat Reduction Agency   424061988
12         Defense Advanced Research Projects Agency   234718958

In [7]:
for i in range(len(lst)):
    print(lst[i])
    df1 = df[df['Funding Agency Name（处理后）']==lst[i]]
    print(len(df1))
    print(df1['Anticipated Award Amount'].sum())
    print(df1['Anticipated Award Amount'].mean())
    print(df1['Anticipated Award Amount'].max())
    print(df1['Anticipated Award Amount'].min())

United States Navy
6683
5602625647
838339.9142600629
565282200
0
United States Marine Corps
2
1091816
545908.0
991976
99840
United States Army
7037
5694493582
809221.76808299
35400000
0
United States Air Force
2299
1271591697
553106.436276642
14575181
3903
Uniformed Services University of Health Sciences
186
58633415
315233.41397849465
2335996
10000
Other Federal Agency
42
78291287
1864078.261904762
11967148
76967
Other Department of Defense
234
219906953
939773.3034188034
8400000
1
office of The Secretary of Defense
898
2090147055
2327557.9677060135
900000000
560
office of The Chief of Engineers
5
86055
17211.0
49861
3534
National Security Agency
70
145053860
2072198.0
16000000
18040
National Geospatial-Intelligence Agency
22
18800222
854555.5454545454
2500000
361244
Defense Threat Reduction Agency
332
424061988
1277295.1445783132
6995767
29679
Defense Advanced Research Projects Agency
240
234718958
977995.6583333333
12979881
49266